@import url('https://fonts.googleapis.com/css?family=Frijole|Orbitron');

* {font-family: 'Orbitron', san-serif;}


*:focus {outline: none;}

body {
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
}

#header {
    position: fixed;
    top: 0px;
    height: 65px;
    width: 100%;
    background-color: #696969;
    display: flex;
    z-index: 99;
}

#footer{
    height: 65px;
    width: 100%;
    background-color: #696969;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-details{
    color: white;
    padding: 25px;
}

#logo {
    padding: 5px;
    margin-left: 10px;
    font-size: 2.3em;
    font-family: 'Frijole', cursive;
    color: #31C193;
}

#nav {
    margin-right: 10px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.nav-buttons {
    margin-right: 10px;
    color: #FFFFFF;
    background: none;
    border: none;
    font-size: 1.5em;
}

.nav-buttons:hover {
    color: #31C193;
}

#main {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    padding-top: 75px;
    height: 100%;
}

.content {
    margin-left: 30px;
    margin-right: 30px;
    height: 400px; 
}

.line{
    margin-left: 20%;
    margin-right: 20%;
    height: 30px; 
    border-style: solid; 
    border-color: #31C193; 
    border-width: 1px 0 0 0; 
    border-radius: 20px; 
}

.line:before {
    display: block; 
    content: ""; 
    height: 30px; 
    margin-top: -31px; 
    border-style: solid; 
    border-color: #31C193; 
    border-width: 0 0 1px 0; 
    border-radius: 20px; 
}

#Willamette {
    background-image: url('images/WU.jpg');
}

#Columbia {
    background-image: url('images/CU.jpg');
}

#codesmith {
    background-image: url('images/codesmith.jpg');
}

#witstech {
    background-image: url('images/techshop.jpg');
}

#witshelp{
    background-image: url('images/ford.jpg');
}

.slide{
    height: 400px;
    background-position: top center;
    background-size: cover;
}

.slide-info{
    border-radius: 25px;
    height: 350px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 25px;    
    text-align: center;
    background: rgba(255, 255, 255, 0.50);
    color: black;
    font-size: 1.2em;
}

.slide-title{
    margin-top: 20px;
    font-size: 1.8em;
}

.slide-details{
    margin-top: 25px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}

.major-title{
    margin-top: 25px;
}

.coursework{
    margin-top: 5px;
    margin-left: 15px;
    font-size: 0.8em;
}

.bullets:before {
    content:"• ";
}

.bullets {
    font-size: 0.8em;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}

.hyperlink {
    color: blue;
}

.hyperlink:hover {
    cursor: pointer;
}












.slick-prev:before, .slick-next:before { font-family: "slick"; font-weight: 900; font-size: 60px; line-height: 1; color: #48716C; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-prev:before { content: "‹"; }
[dir="rtl"] .slick-prev:before { content: "›"; }
[dir="rtl"] .slick-next { left: -10px; top: 70px; right: auto; }
.slick-next:before { content: "›"; }
[dir="rtl"] .slick-next:before { content: "‹"; }