@import url('https://fonts.googleapis.com/css?family=Frijole|Orbitron');

* {font-family: 'Orbitron', san-serif;}


*:focus {outline: none;}

body {
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
}

#header {
    position: fixed;
    top: 0px;
    height: 65px;
    width: 100%;
    background-color: #696969;
    display: flex;
    z-index: 99;
}

#logo {
    padding: 5px;
    margin-left: 10px;
    font-size: 2.3em;
    font-family: 'Frijole', cursive;
    color: #31C193;
}

#nav {
    margin-right: 10px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.nav-buttons {
    margin-right: 10px;
    color: #FFFFFF;
    background: none;
    border: none;
    font-size: 1.5em;
}

.nav-buttons:hover {
    color: #31C193;
    cursor: pointer;
}

#footer{
    height: 65px;
    width: 100%;
    background-color: #696969;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-details{
    color: white;
    padding: 25px;
}

#main {
    display: flex;
    flex-direction: column;
    padding-top: 65px;
}

.image{
    height: 500px;
    width: 100%;
    background-position: top center;
    background-size: cover;
}

.details{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

.header{
    text-align: center;
    margin-bottom: 5%;
}

.title{
    font-size: 3em;
}

.subtitle{
    line-height: 1.5em;
    font-size: 1.3em;
}

.paragraph{
    line-height: 2em;
    font-size: 1.5em;
    text-indent: 10%;
}

/****************  IMAGE LINKS  *****************/

#msjhs{
    background-image: url('./edu/images/msj.jpg');
}

#Columbia{
    background-image: url('./edu/images/CU.jpg');
}

#Willamette{
    background-image: url('./edu/images/WU.jpg');
}

#witshelp{
    background-image: url('./exp/images/ford.jpg');
}

#witstech{
    background-image: url('./exp/images/techshop.jpg');
}

#wustl{
    background-image: url('./exp/images/WUSTL.jpeg');
}

#codesmith{
    background-image: url('./exp/images/codesmith.jpg');
}