@import url('https://fonts.googleapis.com/css?family=Frijole|Exo');

* {font-family: 'Exo';}


*:focus {outline: none;}

body {
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
}

#header {
    position: fixed;
    top: 0px;
    height: 65px;
    width: 100%;
    background-color: #696969;
    display: flex;
    z-index: 99;
}

#logo {
    padding: 5px;
    margin-left: 10px;
    font-size: 2.3em;
    font-family: 'Frijole', cursive;
    color: #31C193;
}

#logo:hover{
    cursor: pointer;
}

#nav {
    margin-right: 10px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.nav-buttons {
    margin-right: 10px;
    font-family: 'Exo', extra-bold;
    color: #FFFFFF;
    background: none;
    border: none;
    font-size: 1.5em;
}

.nav-buttons:hover {
    color: #31C193;
    cursor: pointer;
}

#footer{
    margin-top: 50px;
    height: 65px;
    width: 100%;
    background-color: #696969;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-details{
    color: white;
    padding: 25px;
}

#main {
    display: flex;
    flex-direction: column;
    padding-top: 65px;
    max-width: 1000px;
}

.image{
    height: 500px;
    width: 100%;
    background-position: top center;
    background-size: cover;
}

.details{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.header{
    text-align: center;
    margin-bottom: 5%;
}

.title{
    font-size: 3em;
}

.subtitle{
    line-height: 1.5em;
    font-size: 1.3em;
}

.sideParagraph{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.sideText{
    width: 60%;
    margin: 5%;
}

.paragraph{
    line-height: 2.5em;
    font-size: 1.5em;
    text-indent: 10%;
}

.sidePic{
    display: flex;
    flex-direction: row;
}

.slide{
    height: 350px;
    display: flex;
    flex-direction: row;
}

.slideParagraph{
    font-size: 1.3em;
    line-height: 2.5em;
}

.sideImage{
    display: block;
    margin: 5%;
    float: left;
    height: 300px;
    width: 300px;
    background-position: top center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.slideshow{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.floatImage {
    margin: 5%;
    float: left;
    height: 250px;
    width: 250px;
    background-position: top center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.sectionTitle{
    margin-top: 2%;
    text-align: center;
    font-size: 2.5em;
}

.leftRight {
    display: block;
    height: 300px;
    width: 500px;
    background-position: top center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.picWithDescription{
    height: 600px;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    position: relative;
}

.picWithDescription .description{
    background-color: rgba(50,50,50,0.7);
    color: white;
    width: 100%;
    height: 1.5em;
    font-size: 1em;
    padding: 0.5em;
    text-align: center;
    position: absolute;
    bottom: 0px;
    visibility: hidden;
}

.picWithDescription:hover .description{
    visibility: visible;
}


/****************  IMAGE LINKS  *****************/


/* HOME PAGE */
#pf{
    background-image: url('./images/me.jpg');
}

#wu{
    background-image: url('./images/willamette.jpg');
}

#cu{
    background-image: url('./images/columbia.jpg');
}

#helpdesk{
    background-image: url('./images/witshelp.GIF');
}

#techshop{
    background-image: url('./images/techshop.jpg');
}



/* EDUCATION PAGE */
#msjhs{
    background-image: url('./edu/images/msj.jpg');
}

#Columbia{
    background-image: url('./edu/images/CU.jpg');
}

#Willamette{
    background-image: url('./edu/images/WU.jpg');
}



/* EXPERIENCES PAGE */
#witshelp{
    background-image: url('./exp/images/koalas.jpg');
}

#witstech{
    background-image: url('./exp/images/techshop.jpg');
}

#wustl{
    background-image: url('./exp/images/WUSTL.jpeg');
}

#codesmith{
    background-image: url('./exp/images/codesmith.jpg');
}

/* PROJECTS PAGE */

#desktop{
    background-image: url('./proj/images/desktop.jpg');
}

#coffee{
    background-image: url('./proj/images/table.jpg');
}

#research{
    background-image: url('./proj/images/star.jpg');
}

#balloons{
    background-image: url('./proj/images/cloud.jpg');
}

#beer{
    background-image: url('./proj/images/beer.jpg');
}

#runaway{
    background-image: url('./proj/images/runaway.png');
    background-position: center;
}

#connect{
    background-image: url('./proj/images/connect4.jpg');
}





/* RANDOM PAGE */

#laughing{
    background-image: url('./rand/images/guitar.jpg');
}

#christmas{
    background-image: url('./rand/images/christmas.jpg');
}

#wedding{
    background-image: url('./rand/images/wedding.jpg');
}

#dogs-left{
    background-image: url('./rand/images/caramel.jpg');
}

#dogs-right{
    background-image: url('./rand/images/bubba.jpg');
}

#bald-left{
    background-image: url('./rand/images/bald.jpg');
}

#dollar-right{
    background-image: url('./rand/images/dollar.jpg');
}

#fractal-left{
    background-image: url('./rand/images/fractalsaurus.jpg');
}

#fractal-right{
    background-image: url('./rand/images/fractal.jpg');
}

#poker-left{
    background-image: url('./rand/images/poker.jpg');
}

#cruz{    
    background-image: url('./rand/images/santacruz.jpg');
}

#rocks{
    background-image: url('./rand/images/rocks.jpg');
}

#sunrise{
    background-image: url('./rand/images/sunrise.jpg');
}

#breakneck{
    background-image: url('./rand/images/breakneckridge.jpg');
}

#midtown{
    background-image: url('./rand/images/midtownrooftop.jpg');
}

#jersey{
    background-image: url('./rand/images/jerseysunset.jpg');
}

#timesquare{
    background-image: url('./rand/images/timesquare.jpg');
}

#mudd{
    background-image: url('./rand/images/nyrooftop.jpg');
}

#sunset{
    background-image: url('./rand/images/sunset.jpg');
}

#cave{
    background-image: url('./rand/images/beachcave.jpg');
}

#sunsethouse{
    background-image: url('./rand/images/sunsethouse.jpg');
}

#sandcastle{
    background-image: url('./rand/images/sandcastle.jpg');
}

#lizard{
    background-image: url('./rand/images/greenlizard.jpg');
}

#snowday{
    background-image: url('./rand/images/riversidesnow.jpg');
}

#columbiasnow{
    background-image: url('./rand/images/columbiasnow.jpg');
}

#goldengate{
    background-image: url('./rand/images/goldengate.jpg');
}










/*  SLICK STUFF  */

.slick-prev:before, .slick-next:before { font-family: "slick"; font-size: 70px; line-height: 1; color: #31C193; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }   

.slick-prev:before { content: "‹"; }
[dir="rtl"] .slick-prev:before { content: "›"; }

[dir="rtl"] .slick-next { left: -10px; top: 70px; right: auto; }
.slick-next:before { content: "›"; }
[dir="rtl"] .slick-next:before { content: "‹"; }